* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 20px 0;
}
header nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header nav ul {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
header nav ul li a {
  color: #214e41;
  font-size: 20px;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
header nav ul li a:hover {
  color: #000;
}
header nav .btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
header nav .btn-div button {
  padding: 10px 15px;
  border-radius: 6px;
  background: #43806c;
  color: #fff;
  border: 0;
  outline: none;
}
header nav .btn-div select {
  border: none;
  outline: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.container .wrapper {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  padding: 100px;
  height: 720px;
  position: relative;
}
.container .wrapper h1 {
  color: #214e41;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
}
.container .wrapper p {
  color: #214e41;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 20px 0 5px 0;
}
.container .wrapper .form-group {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0;
}
.container .wrapper .form-group input {
  padding: 11px;
  border: 0;
  outline: none;
}
.container .wrapper .form-group button {
  padding: 11px 10px;
  background-color: #214e41;
  color: #fff;
  border: 0;
  outline: none;
}
.container .wrapper .panel {
  position: absolute;
  bottom: -10%;
  height: 171px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
  background-color: #fff;
  width: 1200px;
  box-shadow: 1px 1px 4px 0px rgba(232, 230, 230, 0.6);
}
.container .wrapper .panel .panel-card {
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.container .wrapper .panel .panel-card span p {
  color: gray;
  display: inline-flex;
  padding: 0px 29px 0px 0.094px;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  align-items: flex-start;
  gap: 7px;
  margin: 5px 0;
}
.container .static-panel {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.container .static-panel .info-bralle p {
  color: #43806c;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.05px;
  text-transform: uppercase;
}
.container .static-panel .info-bralle h3 {
  color: #214e41;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px; /* 127.778% */
  width: 478px;
  margin: 10px 0;
}
.container .static-panel .info-bralle .text {
  color: #757575;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.02px;
  width: 477px;
  margin-bottom: 20px;
}
.container .static-panel .info-bralle .info-btn {
  width: 100px;
  padding: 10px;
  border: 0;
  border-bottom: 1px solid #214e41;
  background-color: transparent;
}
.container .static-panel .static {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}
.container .static-panel .static .static-title {
  display: flex;
  flex-direction: column;
}
.container .static-panel .static .static-title h1 {
  color: #214e41;
  font-family: Roboto;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px; /* 128.571% */
}
.container .static-panel .static .static-title hr {
  position: absolute;
  height: 4px;
  border: none;
  background: #f0a446;
  width: 510px;
  top: 60%;
  left: 0%;
}
.container .static-panel .static .static-title p {
  color: #214e41;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 169.231% */
  letter-spacing: 0.02px;
}
.container .static-panel .static .static-title .static-text {
  margin-top: 30px;
}
.container .static-panel .static .static-title .static-text strong {
  text-decoration: underline;
}
.container .list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container .list .card-list-1 {
  background-color: #e3eeed;
  width: 705px;
  height: 640px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .list .card-list-1 h5 {
  color: #214e41;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.05px;
  text-transform: uppercase;
  margin-right: 210px;
  margin-bottom: 50px;
}
.container .list .card-list-1 ul {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 5px;
}
.container .list .card-list-1 ul li {
  color: #43806c;
  font-family: "Roboto";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px; /* 131.25% */
}
.container .list .card-list-1 ul li:hover {
  color: #214e41;
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
}
.container .list .card-list-1 ul li a {
  color: #43806c;
}
.container .list .card-list-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #214e41;
  width: 735px;
  height: 640px;
}
.container .list .card-list-2 p {
  color: #fff;
  width: 288px;
  font-size: 18px;
}
.container .sec-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 100px;
}
.container .sec-4 .sec-title p {
  color: #43806c;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.05px;
  text-transform: uppercase;
}
.container .sec-4 .sec-title h2 {
  color: #214e41;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  margin: 20px 0;
  width: 556px;
}
.container .sec-4 .sec-title .sec-title {
  color: #757575;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.02px;
  width: 551px;
}
.container .list-item ul {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}
.container .list-item ul li h2 {
  color: #f0a446;
  font-family: Roboto;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}
.container .list-item ul li p {
  color: #214e41;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 169.231% */
  letter-spacing: 0.02px;
}
.container .phone-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 200px;
}
.container .phone-page .iphone-title p {
  color: #43806c;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.05px;
  text-transform: uppercase;
}
.container .phone-page .iphone-title p:nth-child(3) {
  color: #757575;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.02px;
  width: 545px;
  margin-bottom: 20px;
}
.container .phone-page .iphone-title h2 {
  color: #214e41;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  width: 483px;
  margin: 30px 0;
}
.container .phone-page .iphone-title button {
  padding: 10px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #214e41;
}
.container .row {
  background-image: url(../img/bg-img.png);
  background-repeat: no-repeat;
  height: 522px;
}
.container .row .row-title {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 100px;
}
.container .row .row-title h5 {
  color: #43806c;
  font-family: Raleway;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 153.846% */
  letter-spacing: 0.05px;
  text-transform: uppercase;
}
.container .row .row-title h2 {
  color: #214e41;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  width: 391px;
  line-height: 46px; /* 127.778% */
  margin: 20px 0 34px 0;
}
.container .row .row-title p {
  color: #757575;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  letter-spacing: 0.02px;
  width: 491px;
  margin-bottom: 40px;
}
.container .row .row-title button {
  padding: 10px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #214e41;
}
.container .link-title {
  text-align: center;
  color: #214E41;
  font-size: 36px;
  margin-top: 120px;
}
.container .link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 115px;
}
.container .link-list button {
  background-color: transparent;
  border: none;
}
.container .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.container .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .cards .card h4 {
  margin-right: 290px;
  color: gray;
  margin-bottom: 20px;
  margin-top: 10px;
}
.container .cards .card h3 {
  color: #214E41;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  width: 342px;
}
.container .talk {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.container .talk .talk-title {
  width: 720px;
  height: 577px;
  background-color: #E3EEED;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .talk .talk-title h3 {
  color: #214E41;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  margin: 20px 0;
  width: 423px;
}
.container .talk .talk-title button {
  margin-right: 320px;
  padding: 10px;
  background-color: #214e41;
  color: #fff;
  border: none;
  border-radius: 6px;
}

footer {
  width: 100%;
  height: 788px;
  background-color: #214E41;
  position: relative;
}
footer .nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding-top: 50px;
}
footer .nav .list1 li {
  font-size: 16px;
  font-weight: 400;
  color: #e3eeed;
}
footer .nav .list1 li:hover {
  font-size: 18px;
  font-weight: 700;
}
footer .nav hr {
  width: 1440px;
  height: 1px;
  position: absolute;
  top: 20%;
  left: 28%;
}
footer .footer-title {
  width: 1200px;
  line-height: 40px;
  color: #fff;
  margin: 0 auto;
  margin-top: 100px;
}/*# sourceMappingURL=main.css.map */